<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizGuru"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizGuru">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".RegisterActivity" android:theme="@style/Theme.QuizGuru"/>


        <activity android:name=".AdminUserManagementActivity" android:exported="false" />


        <activity android:name=".AdminHomepageActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".AddQuestionActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".AddVideoActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".ViewQuestionsActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".ViewVideosActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".EditDeleteQuestionActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".EditDeleteVideoActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".EditDeleteDrillActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".ViewVideoQuestionActivity" android:theme="@style/Theme.QuizGuru"/>

        <activity android:name=".UserHomepageActivity" android:theme="@style/Theme.QuizGuru"/>

        <activity android:name=".SoloMainActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".MainGameActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".MainGameVideoActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".MainGameDrillActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".MainGamePostActivity" android:theme="@style/Theme.QuizGuru"/>
        <activity android:name=".MainGameResultActivity" android:theme="@style/Theme.QuizGuru"/>

        <activity android:name=".VideoExample" android:theme="@style/Theme.QuizGuru"/>
    </application>

</manifest>